.chat-user-list {
  /* display: none; */
  transform: translateX(-300px);
  opacity: 0;
  position: absolute;
  width: 50%;
  height: 640px;
  z-index: 10;
  background: white;
  transition: all 0.25s ease-in-out;
}
.overflow-hidden {
  /* overflow: hidden; */
}
.chatbox {
  z-index: 1;
  position: relative;
}
.position-relative {
  position: relative;
}
.chat-user {
  display: flex;
  justify-content: start;
  align-items: center;
}
.overlay-user-sidebar.show {
  display: block;
}
.overlay-user-sidebar {
  width: 100%;
  height: 640px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  transition: all 0.25s ease-in-out;
}
.chat-user-list.show {
  transform: translateX(0px);
  opacity: 1;
}
.chat-user .profile-pic,
.chat-user .name,
.chat-user .last-message {
  /* display: none; */
}
.toggle-user-sidebar {
  border: none;
  outline: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 30px;
  height: 35px;
}
.chatbox {
  min-height: 500px;
  /* padding: 8px 15px; */
  padding: 8px 0px;
}
.message .content {
  padding: 8px 15px;
  border-radius: 18px;
}
.message {
  min-width: 100px;
  /* max-width: 45%; */
  max-width: 80%;
}
.message.sender .content {
  background-color: rgb(0, 72, 187);
  color: white;
}
.message.reciever .content {
  background-color: #ebebeb;
  color: rgb(65, 65, 65);
}
.display_picture img,
.profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.display_picture {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 8px;
}
.profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.chat-user:hover {
  background-color: rgb(225, 225, 225);
}
.chat-user.active {
  background-color: rgb(225, 225, 225);
}
.chat-user:not(:last-child) {
  border-bottom: solid 1px #ebebeb;
}
.chat-user {
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
div#message-wrapper {
  scroll-behavior: smooth;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: unset;
  margin-top: auto;
}

.search-icon {
  position: absolute !important;
  right: 0;
  width: 45px;
  height: 45px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
  .chat-user {
    justify-content: center;
  }
  .toggle-user-sidebar {
    display: none;
  }
  .chat-user-list {
    display: block;
    transform: translateX(0px);
    opacity: 1;
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 10;
    background: white;
  }
  .chat-user .profile-pic {
    display: inline;
  }
  .chat-user .name,
  .chat-user .last-message {
    display: none;
  }

  .message {
    max-width: 70%;
  }
}
.slide-from-left {
  position: relative;
  animation: slideLeftIn 1s ease-in-out;
}
.slide-from-right {
  position: relative;
  animation: slideRightIn 1s ease-in-out;
}
@keyframes slideLeftIn {
  0% {
    left: -10%;
    opacity: 0;
  }
  20% {
    left: -8%;
    opacity: 0.2;
  }
  40% {
    left: -5%;
    opacity: 0.5;
  }
  80% {
    left: -3%;
    opacity: 0.8;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideRightIn {
  0% {
    right: -10%;
    opacity: 0;
  }
  20% {
    right: -8%;
    opacity: 0.2;
  }
  40% {
    right: -5%;
    opacity: 0.5;
  }
  80% {
    right: -3%;
    opacity: 0.8;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.unread__convo {
  font-size: 16px;
  font-weight: bold;
  color: black !important;
}
/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  .chat-user .name {
    display: inline;
  }
  .chat-user .last-message {
    display: none;
  }
  .message {
    max-width: 60%;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .chat-user {
    justify-content: start;
  }
  .chat-user .last-message {
    display: inline;
  }
  .message {
    max-width: 50%;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  .message {
    max-width: 40%;
  }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {
}
