body {
  margin: 0;
  padding: 0;
}
a {
  border: none;
  text-decoration: none;
  font-size: 16px;
}
/* Validation */
div.is-invalid {
    color: crimson !important;
    font-size: 16px;
}
/* Validation */


/* Chrome, Safari, Edge, Opera */
.verification-code-inputs input::-webkit-outer-spin-button,
.verification-code-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.verification-code-inputs input[type=number] {
  -moz-appearance: textfield;
}
.navbar-brand{
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
.logo.light{
  background-color: white;
  color: #0d6efd;
}
.logo{
  border:white solid 1px;
  border-radius: 6px;
  padding: 0px 5px;
  font-weight: 900;
  font-size: 1.5rem !important;
}