
    <footer>
        <div class="text-secondary text-center mt-5">
            A good developer production &copy;2022 <br>
            Chatting Application <br>
            <strong>NodeJS</strong>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>