
    <footer class="border-top mt-5">
        <div class="text-secondary text-center mt-4">
            <p class="p-0 m-0">SuperChat &copy;2022</p> 
            <strong class="m-0" style="color:green">NodeJS</strong>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>