<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">Super Chat</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <% if(user){ %>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <div class="nav-link active">
                Welcome back !! <%= user.name %>
              </div>
            </li>
            <li class="nav-item">
              <form
                action="/logout"
                method="POST"
                onsubmit="return confirm('Leaving so soon ?')"
              >
                <button class="btn nav-link">Logout</button>
              </form>
            </li>
          </ul>
          <% }else { %>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/login">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Policies</a>
            </li>
          </ul>
          <% } %>
        </div>
      </div>
    </nav>
  </header>
</body>
