<div class="d-flex justify-content-end">
    <div class="message sender">
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <div class="footer text-end p-1 text-muted">
        <small> Sun 27 Feb, 2022</small>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start">
    <div class="message reciever">
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <div class="footer text-end p-1 text-muted">
        <small> Sun 27 Feb, 2022</small>
      </div>
    </div>
  </div>