<%- include('../include/header.ejs') %>  
</head>
    <%- include('../include/navbar.ejs') %>
    <div class="d-block py-5">
        <h1 class="display-6 pt-5  text-center m-0">404 - Page Not Found</h1>
        <p class="text-center p-1 m-0">The page you requested is may be broken or not found.</p>
    </div>  
</body>
</html>
<%- include('../include/footer.ejs') %>  