<%- include('../include/header.ejs') %>  
</head>
    <%- include('../include/navbar.ejs') %>
    <div class="d-block text-center err-wrapper">
        <div class="error-code-desc-container">
            <strong class="err-code">404</strong> 
            <sup class="err-desc"Ã>Page Not Found</sup> 
        </div>
        <p class="error-message">The page you requested is may be broken or not found.</p>
    </div>  
</body>
</html>
<%- include('../include/footer.ejs') %>  