<body style="padding:0;margin:0;">
    <div
        style="
          font-family: Calibri, sans-serif;
          padding: 10px 0;
          text-align: center;
          color: whitesmoke;
          font-size: 26px;
          font-weight: 900;
          background-color: #0d6efd;
        "
      >
        SUPER CHAT
      </div>
      <div
        style=" 
          color:#393939;
          display: flex;
          width: 100%;
          height: 100%;
          padding: 10px 8px;
          align-items: center;
          flex-direction: column;
        "
      >
        <div style="font-family: Calibri, sans-serif">
          <h3>Hi <%= userName %></h3>
          <p>
            Your passoword has been changed. <br>
            If you did not make this request then please <br>
            click this link to change your password.
          </p>
          <div style="display:block;margin: 2em 0;">
            <a href="<%= baseURL+'/reset' %>" style="background-color: #0d6efd;color:#fff; padding: 8px 15px;border-radius: 6px;text-decoration: none;">Reset Password</a>
          </div>
          <p>
            <h3 style="color:#00b966;margin:0;padding:0;">We've got your back!</h3>
            <h2 style="color:#0d6efd;margin:0;padding:0;">The superchat team</h2>
          </p>
        </div>
      </div>
</body>