<%- include('../include/header.ejs') %> 
<link rel="stylesheet" href="/css/chat.css"> 
</head>
    <%- include('../include/navbar.ejs') %>  
    <main class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-3 bg-secondary p-0">
                    <ul class="list-unstyled p-0">
                        <li class="chat-user active" onclick="switchChat(this)">
                            <div class="d-flex flex-rows align-items-center">
                                <div class="profile-pic"><img src="https://randomuser.me/api/portraits/men/88.jpg" ></div>
                                <div class="d-flex flex-column ms-2"> 
                                    <div class="name">
                                       <strong> User Name</strong>
                                    </div>
                                    <div class="last-message">hiii</div>
                                </div>
                            </div>
                        </li>
                        <li class="chat-user"  onclick="switchChat(this)">
                            <div class="d-flex flex-rows align-items-center">
                                <div class="profile-pic"><img src="https://randomuser.me/api/portraits/men/88.jpg" ></div>
                                <div class="d-flex flex-column ms-2"> 
                                    <div class="name">
                                       <strong> User Name</strong>
                                    </div>
                                    <div class="last-message">hiii</div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-9 bg-light p-3">
                    <div class="chatbox">
                        <div class="d-flex justify-content-end">
                            <div class="message sender">
                                <div class="content">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                </div>
                                <div class="footer text-end p-1 text-muted">
                                    <small> Sun 27 Feb, 2022</small>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="message reciever">
                                <div class="content"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </div>
                                <div class="footer text-end p-1 text-muted">
                                    <small> Sun 27 Feb, 2022</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-form">
                        <form action="/">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Type a message..." />
                                <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/chat.js"></script>
    <%- include('../include/footer.ejs') %>  