<%- include('../include/header.ejs') %> 
<link rel="stylesheet" href="/css/chat.css"> 
</head>
    <%- include('../include/navbar.ejs') %>  
    <main class="mt-4">
        <div class="container border overflow-hidden">
            <div class="row">
                <div class="col-sm-3  bg-light p-0 border-end position-relative">
                    <div class="overlay-user-sidebar"></div>
                    
                    <div class=" chat-user-list">
                        <div class="w-full border-bottom py-2 px-2">
                            <div class="form-inline">
                                <div class="input-group" style="position: relative;">
                                    <input style="box-shadow: none;" class="form-control " type="text" name="" id="find-friends" placeholder="Find People" />
                                    <span 
                                        class="btn btn-sm search-icon" 
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#199be2" d="M35.983,32.448l-3.536,3.536l7.87,7.87c0.195,0.195,0.512,0.195,0.707,0l2.828-2.828 c0.195-0.195,0.195-0.512,0-0.707L35.983,32.448z"/><radialGradient id="KGt2acGa95QyN2j07oBX6a" cx="20.024" cy="20.096" r="19.604" gradientUnits="userSpaceOnUse"><stop offset=".693" stop-color="#006185"/><stop offset=".921" stop-color="#35c1f1"/></radialGradient><polygon fill="url(#KGt2acGa95QyN2j07oBX6a)" points="31.601,28.065 28.065,31.601 32.448,35.983 35.983,32.448"/><linearGradient id="KGt2acGa95QyN2j07oBX6b" x1="8.911" x2="31.339" y1="8.911" y2="31.339" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#a3ffff"/><stop offset=".223" stop-color="#9dfbff"/><stop offset=".53" stop-color="#8bf1ff"/><stop offset=".885" stop-color="#6ee0ff"/><stop offset="1" stop-color="#63daff"/></linearGradient><circle cx="20" cy="20" r="16" fill="url(#KGt2acGa95QyN2j07oBX6b)"/></svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled p-0  d-flex flex-column w-full h-full" id="chattingUsersList">
                            <li class="m-auto">
                                <div>
                                    <div class="d-block text-center">
                                        <div class="spinner-border m-auto" role="status"></div>
                                    </div>
                                    <div class="d-block mt-2 text-center"><strong> Loading rooms </strong></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
               <div class="col-sm-9 bg-light p-0">
                    <div class="chat-header bg-white px-3 py-2 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <button
                                onclick="showUserSideBar()"
                                class="toggle-user-sidebar me-2"
                                type="button"
                            >
                                <svg viewBox="0 0 100 80" width="40" height="40">
                                    <rect width="100" height="8"></rect>
                                    <rect y="25" width="100" height="8"></rect>
                                    <rect y="50" width="100" height="8"></rect>
                                </svg>
                            </button>
                            <div class="d-flex align-items-center">
                                <div class="profile-pic" style="width: 35px;height: 35px;"><img src="" ></div>
                                <strong class="name ms-2"></strong>
                            </div>
                            
                        </div>
                        <div></div>
                    </div>
                    <div class="chatbox" id="message-wrapper">
                        <div class="m-auto">
                            <div class="d-block mt-2"><strong> Messages Not Found</strong></div>
                        </div>
                    </div>
                    <div class="chat-form">
                        <div class="input-group">
                            <input type="hidden" id="sender_id" value=""  />
                            <input type="hidden" id="user_id"   value="<%= user._id.toString() %>"/>
                            <input type="text" class="form-control py-2" id="message-input" placeholder="Type a message..." />
                            <button class="btn btn-primary"  id="button-addon2" onclick="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" async></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script>
        var currentUserId = document.getElementById("user_id").value;
        var $senderInput  = document.getElementById("sender_id");
        var $messageContainer = document.getElementById("message-wrapper");
        var $conversationContainer = document.getElementById("chattingUsersList");
    </script>
    <script src="/js/helpers.js"></script>
    <script src="/js/socket.js"></script>
    <script src="/js/chat.js"></script>
    <%- include('../include/footer.ejs') %>  